@mixin flex(
  $flex-direction: row,
  $justify-content: initial,
  $align-items: initial,
  $flex: initial
) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex: $flex;
}
