$white: #ffffff;
$prussian-blue: #0c365a;
$light-grey: #ddd;
$green: #01d167;
$dark: #222222;
$mid-blue: #325baf;
$aqua-blue: #23cefd;
$lily-white: #edf3ff;
$snow-white: #f5f9ff;
$grey: #aaaaaa;
$mint-cream: #edfff5;
